<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Marketplace</title>
</head>

<body class="w-full">
    <nav style="flex-wrap: wrap;" class="flex justify-between items-center w-full px-2 bg-amber-200 py-2">
        <p class="text-2xl">Marketplace</p>
        <div>
            <a class="text-lg" href="/register">Register</a>
            <a class="text-lg" href="/login">Login</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>