#container {
    min-height: 100vh;
}

.card {
    width: 98%;
    margin: 16px 10px;
}

.card img {
    max-width: 150px;
    max-height: 150px;
 }


 @media only screen and (max-width: 450px) {
    .card {
        margin: 8px 6px;
        padding: 4px;
        margin: 6px 3px;
    }
}