{% extends 'core/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/myItems.css' %}" />

<div id='container' class="flex flex-wrap items-center justify-center bg-slate-700">
  <div class="flex w-full items-center justify-center paginator">
    {% if items.has_previous %}
    <a href="?page=1" class="text-xl">&laquo First</a>
    <a href="?page={{items.previous_page_number}}" class="text-xl">Previous</a>
    {% endif %}
    <p class="text-xl">
      Page {{items.number}} of {{items.paginator.num_pages}}
    </p>
    {% if items.has_next %}
    <a href="?page={{items.next_page_number}}" class="text-xl">Next</a>
    <a href="?page={{items.paginator.num_pages}}" class="text-xl"
      >Last &raquo</a
    >
    {% endif %}
  </div>
  {% for item in items %}
  <div
    class="flex mx-3 my-2 card bg-slate-400 items-center justify-center p-2 hover:bg-slate-300"
  >
    <a href="{% url 'item:detail' item.id %}">
      <div class="flex flex-col items-center justify-center flex-wrap">
        <img class="image" src="{{item.image.url}}" />
        <p class="text-xl my-1">{{item.name}}</p>
        <p class="text-xl my-1">{{item.description |truncatechars:40}}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
