#container {
    height: 100vh;
}

.card {
    width: 400px;
    height: 500px;

}

.card img {
    width: 350px !important;
    height: 300px !important;
    object-fit: scale-down;
}

button {
    width: 100px;
}

.paginator a {
    color: rgb(226 232 240) !important;
    margin-left: 12px !important;
}
.paginator a:hover {
   text-decoration: underline !important;
}

.paginator p {
    color: rgb(226 232 240) !important;
    margin-left: 8px !important;
    margin-left: 12px !important;
}